<div style="background-color: #FFAB08; border-radius: 0 0 50% 50%;" class="flex justify-center align-center py-10">
    <div class="container">
        <div class="flex justify-center align-center gap-x-20">
            <img src="../assets/vectors/burger.svg"  alt="burger">
            <div class="flex justify-center align-center">
                <h1 class="regularFont flex flex-col">Легкий и быстрый <span class="text-orange-500">ужин без забот</span></h1>
            </div>
        </div> 
    </div>
</div>

